body {
    background: #9f9f9f;
    color: white;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
}

.dodgers {
    background: blue;
}

.cubs {
    
}

.pittsburgh {
    background: yellow;
}

.cardinals {
    background: red;
}

.table-container {
    background: black;
}

table, tr, td {
    color:white;
    border:white;
    border-style:1px solid white;
}
