body {
    background: grey;
    color: white;
    padding:10x;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color: black;
    padding:20px;
}

.dodgers {
    background: blue;
    padding:20px;
}

.cubs {
    padding:20px;
}

.pittsburgh {
    background: yellow;
    color:black;
    padding:20px;
}

.cardinals {
    background: red;
    padding:20px;
}

.table-container {
    background: black;
    padding:20px;
}
